@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.roboto-mono-font {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0px;
    padding: 0px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

    padding: 16px;

    max-width: 1000;
    min-width: 500;

    color: #DEE7E7;
    background-color: #202030; /*#242331;*/

    box-shadow: 0 0 25px 5px #DEE7E7;

    display: grid;
    grid-template-areas:
        'picture info'
    ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.picture-container {
    grid-area: picture;
    height: 100%;
    width: 100%;
}

.profile-picture {
    width: 100%;
    height: auto;
}

.info-container {
    grid-area: info;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-areas:
        'info'
        'info-footer'
    ;
    grid-template-rows: 1fr auto;
}

.info {
    grid-area: info;
}

.info-footer {
    grid-area: info-footer;
}